<h1>Gestione Staff</h1>
<table class="staff-table">
  <tr><th>ID</th><th>Nickname</th><th>Ruolo</th></tr>
  <% utenti.forEach(u => { %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.nickname %></td>
      <td><%= u.ruolo %></td>
    </tr>
  <% }) %>
</table>
<!-- Qui andranno form e azioni CRUD -->
